<div>
  <div class="flex-grow-1 br-10px border" id="creator-coins-holder">
    <div class="tutorial-header">
      <div *ngIf="!investInYourself && !followCreators" class="d-flex justify-content-between">
        <div class="tutorial-title">Invest in a Creator</div>
        <div class="d-flex align-items-center">
          <div class="fc-secondary fs-15px">Step 1/4</div>
          <button class="tutorial-skip-button" (click)="skipBuyCreatorsStep()">Skip</button>
        </div>
      </div>
      <div *ngIf="investInYourself && !followCreators" class="d-flex justify-content-between">
        <div class="tutorial-title">Invest in Yourself</div>
        <div class="d-flex align-items-center">
          <div class="fc-secondary fs-15px">Step 2/4</div>
          <button class="tutorial-skip-button" (click)="skipBuySelfStep()">Skip</button>
        </div>
      </div>
    </div>
    <div class="p-16px" *ngIf="showInstructions && !followCreators">
      <b>Click the "View" button below</b> next to the creator you want to preview investing in.
    </div>
    <div class="p-16px" *ngIf="showInstructions && followCreators">
      Click the "follow" button next to the creators you want to follow. <br/><br/>
      <b>Click "Next" in the top-right when you are finished</b>
    </div>
    <div>
      <div *ngIf="!investInYourself">
        <div id="tutorial-creators-to-invest-in">
          <div>
            <div class="background-color-secondary p-16px">
              <span class="fs-17px fc-secondary font-weight-bold">Hot New Creators</span>
            </div>
            <div *ngFor="let profile of hotNewCreatorsToHighlight" class="background-color-white">
              <div class="p-2" style="border-bottom: 1px solid #e5e5e5;">
                <simple-profile-card
                  (exitTutorial)="exitTutorial()"
                  [profile]="profile"
                  [showTutorialBuy]="!followCreators"
                  [showTutorialFollow]="followCreators"
                  [inTutorial]="true"
                  [hideFollowLink]="true"
                  [singleColumn]="true"
                  [tutorialWiggle]="tutorialWiggle"
                ></simple-profile-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <simple-center-loader *ngIf="loading"></simple-center-loader>
      <div *ngIf="investInYourself">
        <div class="border-bottom"></div>
        <div class="p-16px border-bottom" id="tutorial-invest-in-self-holder">
          <simple-profile-card
            (exitTutorial)="exitTutorial()"
            [profile]="loggedInUserProfile"
            [showTutorialBuy]="true"
            [inTutorial]="true"
            [hideFollowLink]="true"
            [singleColumn]="true"
            [tutorialBuySelf]="true"
          ></simple-profile-card>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="addMobileFooter" style="height: 300px"></div>
</div>
