.feed-create-post {
  border-radius: 10px;
  background: var(--tile-bg);
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: var(--text-secondary);
  textarea {
    margin-top: 12px;
  }
}

.feed-create-post__post-content-container {
  position: relative;
}

.feed-create-post__post-content-container-thread:not(:first-child) {
  border-top: 1px solid var(--border); 
}

.feed-create-post__post-remove-btn {
  border-radius: 100%;
  padding: 2px;
  color: var(--text-muted);
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;

  &:hover {
    color: var(--text-inverted);
    background-color: darkgrey;
  }
}

.feed-create-post__icon-bar-item {
  padding: 0;
  color: var(--text-muted);
  margin: 0 10px;
}

.feed-create-post__left-btn-group {
  display: flex;
  margin-bottom: 0;
}

.feed-create-post__right-btn-group {
  margin-left: auto;
}

.feed-create-post__post-btn {
  background: var(--text);
  padding: 12px 24px;
  border-radius: 6px;
  border: none;
  color: var(--tile-bg);
  &:hover {
    color: var(--tile-bg);
  }
}

.feed-create-post__add-comment-btn {
  background: transparent;
  padding: 10px 10px;
  border-radius: 100%;
  border: 2px solid var(--tile-bg-secondary);
  color: var(--tile-bg-secondary);
  margin-right: 8px;

  &:hover {
    background-color: var(--background-secondary);
  }
}

.feed-create-post__character-counter {
  margin-top: 2px;
}

.feed-create-post__icon-bar {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin: 16px;
  flex-wrap: wrap;
}

// Modal modifiers
.feed-create-post--in-modal {
  border-radius: 10px 10px 0px 0px;
}

.feed-create-post__icon-bar--in-modal {
  background: var(--tile-bg);
  border-radius: 0px 0px 10px 10px;
  margin: 0px;
  padding: 16px 16px 32px 16px;
}

.feed-create-post__post-btn--in-modal {
  margin-right: 16px;
}
