.post-thread__see-more-button {
  width: 100%;
  color: var(--link);
  border: none;
  background-color: transparent;
  padding-bottom: 16px;
}

.post-thread__see-more-loader {
  padding: 12px 30%;
}
