.twitter-sync-settings__content {
  padding: 1rem 0rem;

  @media (min-width: 992px) {
    padding: 1rem 6rem 3rem;
  }
}

.twitter-sync-settings__subheading {
  text-align: left;

  @media (min-width: 992px) {
    padding: 0 7rem;
  }
}
