<app-page hideSidebar="true">
  <div class="list-group list-group-flush">
    <article *ngFor="let post of blogPosts" class="list-group-item py-5">
      <a
        [routerLink]="[
          '/' +
            globalVars.RouteNames.USER_PREFIX +
            '/' +
            post.ProfileEntryResponse.Username +
            '/' +
            globalVars.RouteNames.BLOG +
            '/' +
            post.PostExtraData.BlogTitleSlug
        ]"
        class="d-flex"
      >
        <div>
          <h2>{{ post.PostExtraData.Title }}</h2>
          <p>{{ post.PostExtraData.Description }}</p>
        </div>
        <div class="ml-auto">
          <img [src]="post.PostExtraData.CoverImage" [alt]="post.PostExtraData.Title" width="112" />
        </div>
      </a>
    </article>
  </div>
</app-page>
