<div *ngIf="isLoadingEditModel" class="mt-5">
  <simple-center-loader [height]="200"></simple-center-loader>
</div>
<div *ngIf="!isLoadingEditModel" class="mt-2">
  <form (submit)="submit($event)">
    <div class="d-flex align-items-center p-2">
      <button class="ml-auto btn-primary rounded" type="submit">Publish</button>
    </div>
    <div class="p-2">
      <div
        (drop)="onDropImg($event)"
        (dragover)="onDragOver($event)"
        (dragenter)="onDragEnter($event)"
        (dragleave)="onDragLeave($event)"
        class="border rounded text-center d-flex justify-content-center align-items-center position-relative"
        [ngClass]="{ 'border-dotted': isDraggingFileOverDropZone }"
        tabindex="0"
        [ngStyle]="{
          height: coverImgSrc ? 'auto' : '500px',
          width: '100%',
          overflow: 'hidden',
          border: isDraggingFileOverDropZone ? '3px dashed blue !important' : '',
          cursor: 'pointer'
        }"
      >
        <input #coverImgInput type="file" (change)="onFileSelected($event)" accept="image/*" hidden />
        <div *ngIf="coverImgSrc" class="position-absolute p-2" [ngStyle]="{ top: 0, right: 0 }">
          <button class="rounded mr-1">Change</button>
          <button class="rounded">Remove</button>
        </div>
        <img *ngIf="coverImgSrc" [src]="coverImgSrc" class="w-100" />
        <span *ngIf="!coverImgSrc">
          <p>Add a cover image that compliments your blog post.</p>
          <button type="button" (click)="onClickSelectFile($event)" class="rounded">Select File</button>
        </span>
      </div>
    </div>
    <input [(ngModel)]="model.title" name="blogTitle" type="text" placeholder="Headline..." />
    <input [(ngModel)]="model.description" name="blogTagline" type="text" placeholder="Description..." />
  </form>
  <quill-editor [(ngModel)]="model.contentDelta" format="object" placeholder="Write something..."></quill-editor>
</div>
