<div
  class="w-100 d-flex flex-column right-bar-creators__wallet-container"
  *ngIf="this.globalVars?.loggedInUser?.ProfileEntryResponse?.CoinEntry"
>
  <div>
    <div class="font-weight-bold fc-default">
      My Creator Coins
    </div>
    <div class="d-flex justify-content-between align-items-center mt-10px">
      <span class="text-muted fs-14px">Coins In Circulation</span>
      <span>
        ≈ {{ (globalVars?.loggedInUser?.ProfileEntryResponse?.CoinEntry.CoinsInCirculationNanos / 1e9).toFixed(2) }}
      </span>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-10px">
      <span class="text-muted fs-14px">Total USD Locked</span>
      <span>≈ {{ totalUSDLocked() }}</span>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-10px">
      <span class="text-muted fs-14px">USD Market Cap</span>
      <span>≈ {{ usdMarketCap() }}</span>
    </div>
  </div>
</div>
