<!-- Available DeSo Box -->
<div class="p-16px">
  <div class="d-flex justify-content-between align-items-center">
    <div class="fc-secondary fs-15px">
      {{ creatorCoinTrade.assetToSellBalance() }} {{ creatorCoinTrade.assetToSellString() }} {{ 'trade-creator.available' | transloco }}&nbsp;
      <span *ngIf="creatorCoinTrade.assetToSellBalanceInUsd()">
        ≈ {{ creatorCoinTrade.assetToSellBalanceInUsd() | currency }} {{ 'trade-creator.usd' | transloco }}
      </span>
    </div>
    <button
      *ngIf="creatorCoinTrade.tradeType === buyTab"
      class="plain-button fc-default font-weight-bold"
      (click)="_onBuyDeSoClicked()"
    >
      {{ 'trade-creator.buy_DESO' | transloco }}
    </button>
  </div>
</div>
<div class="w-100 border-bottom"></div>
<div class="p-16px">
  <!-- Transfer Recipient Box -->
  <div *ngIf="creatorCoinTrade.isCreatorCoinTransfer()" [ngStyle]="{ 'margin-bottom': creatorCoinTrade?.transferRecipient?.value ? '16px' : '32px' }">
    <div class="mint-nft__sub-title mt-0px" style="margin-top: 0px">{{ 'trade-creator.recipient' | transloco }}</div>

    <div *ngIf="creatorCoinTrade.amount">
      <div class="mt-16px">
        <search-bar
          [isSearchForUsersToSendDESO]="true"
          (creatorToMessage)="_handleCreatorSelectedInSearch($event)"
        ></search-bar>
      </div>
    </div>

    <div class="px-5px mt-16px">
      <simple-profile-card
        [profile]="creatorCoinTrade.transferRecipient.value"
        [singleColumn]="true"
        [hideFollowLink]="true"
        *ngIf="creatorCoinTrade.transferRecipient.value"></simple-profile-card>
    </div>

    <div class="text-danger text-left fs-14px mt-2">
      <div *ngIf="creatorCoinTrade.showUsernameError" class="mt-10px">
        {{ 'trade-creator.user_not_found_0' | transloco }} "{{ creatorCoinTrade.transferRecipient.value.Username }}" {{ 'trade-creator.user_not_found_1' | transloco }}
      </div>
      <div *ngIf="creatorCoinTrade.showPubKeyError" class="mt-10px">{{ 'trade-creator.enter_user_or_key' | transloco }}</div>
      <div *ngIf="creatorCoinTrade.showCannotSendToSelfError" class="mt-10px">
        {{ 'trade-creator.enter_not_logged_in' | transloco }}
      </div>
    </div>
  </div>

  <div class="mint-nft__sub-title">{{ 'trade-creator.amount' | transloco }}</div>
  <div class="d-flex">
    <div
      class="d-flex"
      dropdown
      (click)="$event.stopPropagation()"
      container="body"
      style="align-items: center"
    >
      <button *ngIf="creatorCoinTrade.tradeType === buyTab" class="mint-nft__dropdown-btn" role="button" dropdownToggle>
        {{ creatorCoinTrade.selectedCurrency }}
        <i-feather name="chevron-down" class="feather-small"></i-feather>
      </button>
      <div class="dropdown-menu dropdown-menu-right p-0 bc-dropdown-menu place-bid-dropdown" *dropdownMenu>
        <div>
          <a
            *ngFor="let item of this.creatorCoinTrade.currencyConstantsToHumanLabel() | keyvalue"
            class="dropdown-menu-item fs-12px d-block link--unstyled p-10px feed-post__dropdown-menu-item"
            (click)="creatorCoinTrade.selectedCurrency = item.key; _invalidateAndUpdateAmounts()"
          >
            {{ item.key }}
          </a>
        </div>
      </div>
    </div>
    <div class="position-relative w-100">
      <input
        [formControl]="creatorCoinTrade.amount"
        [ngStyle]="{ 'border-radius': creatorCoinTrade.tradeType === buyTab ? '0px 16px 16px 0px' : '16px' }"
        aria-describedby="usd-label"
        class="mint-nft__input"
        type="number"
        min="0"
        placeholder="0"
      />
      <span class="mint-nft__floating-span fc-blue cursor-pointer" (click)="_maxButtonClicked()">{{ 'trade-creator.max' | transloco }}</span>
      <span *ngIf="creatorCoinTrade.tradeType !== buyTab" class="mint-nft__floating-span" style="right: 80px">{{creatorCoinTrade.creatorProfile.Username}} {{ 'trade-creator.coin' | transloco }}</span>
    </div>
  </div>
  <!-- Slippage error box -->
  <div *ngIf="creatorCoinTrade.showSlippageError" class="px-3 mt-3">
    <div class="w-100 border border-color-grey bg-light text-danger">
      <div class="p-3 fs-14px">{{ 'trade-creator.price_changed_while_waiting' | transloco }}</div>
    </div>
  </div>

  <!-- Errors-->
  <div
    *ngIf="creatorCoinTrade.amount.invalid && (creatorCoinTrade.amount.dirty || creatorCoinTrade.amount.touched)"
    class="text-danger text-left fs-14px mt-2"
  >
    <div *ngIf="creatorCoinTrade.amount.errors.required" class="mt-10px error-container">
      <i-feather name="alert-circle" class="feather-large"></i-feather>
      {{ 'trade-creator.amount_required' | transloco }}
    </div>

    <div *ngIf="creatorCoinTrade.amount.errors.exclusiveMin" class="mt-10px error-container">
      <i-feather name="alert-circle" class="feather-large"></i-feather>
      {{ 'trade-creator.amount_must_be_greater_0' | transloco }} {{ this._minAmount() | number: "0.0-9" }}
      {{ 'trade-creator.amount_must_be_greater_1' | transloco }}
    </div>

    <div *ngIf="creatorCoinTrade.amount.errors.dynamicMax" class="mt-10px error-container">
      <i-feather name="alert-circle" class="feather-large"></i-feather>
      <div *ngIf="this._maxAmount() && this._maxAmount() > 0; else elseBlock">
        {{ 'trade-creator.amount_must_be_less_0' | transloco }}
        {{ this._maxAmount() | number: "0.0-9" }}
        {{ 'trade-creator.amount_must_be_less_1' | transloco }}
      </div>
      <ng-template #elseBlock>{{ 'trade-creator.amount_less_than_balance' | transloco }}</ng-template>
    </div>

    <div *ngIf="creatorCoinTrade.amount.errors.pattern" class="mt-10px error-container">
      <i-feather name="alert-circle" class="feather-large"></i-feather>
      {{ 'trade-creator.amount_must_be_number' | transloco }}
    </div>
  </div>
</div>

<div class="px-3 border-color-grey">
  <div *ngIf="isUpdatingAmounts; else isUpdatingAmountsElseBlock">
    <!-- Loading spinner-->
    <div class="mt-3 spinner-border text-secondary" role="status">
      <span class="sr-only">{{ 'trade-creator.loading' | transloco }}</span>
    </div>
  </div>
  <ng-template #isUpdatingAmountsElseBlock>
    <div class="fs-14px mt-10px text-grey5">
      <trade-creator-table
        [displayForCreatorForm]="true"
        [creatorCoinTrade]="creatorCoinTrade"
        [tradeType]="tradeType"
      ></trade-creator-table>
    </div>
  </ng-template>

  <!-- Review button -->
  <div class="pb-3 pt-3">
    <button
      class="primary-button"
      [ngClass]="{ 'disabled-button': !_allowPreviewClick() }"
      [disabled]="!_allowPreviewClick()"
      (click)="_onPreviewClicked()"
    >
      {{ 'trade-creator.review' | transloco }}
    </button>
    <a class="fc-muted ml-25px" (click)="_closeModal()">{{ 'trade-creator.cancel' | transloco }}</a>
  </div>
</div>
