<app-page *ngIf="!this.globalVars.loggedInUser; else messages">
  <app-logged-out-empty-state
    [headingText]="'Fully encrypted end-to-end messaging. For anywhere on DeSo.'"
    [subheadingText]="
      'Diamond gives you the ability to message anyone on the entire DeSo blockchain, in a secure and encrypted way. Filter your inbox so you only prioritize your most important connections.'
    "
    [buttonText]="'Sign up on Diamond'"
    [imgSrc]="'/assets/diamond/messages-teaser.png'"
  ></app-logged-out-empty-state>
</app-page>

<ng-template #messages>
  <app-page [hideSidebar]="true">
    <header class="border-bottom pt-3 pb-2 px-3">
      <h1 class="font-weight-bold fs-24px mb-2">Messages</h1>
      <div class="position-relative" [ngStyle]="{ height: '48px', width: '400px' }">
        <!-- TODO: We need this to search access group names, eth addresses, and
        usernames. -->
        <search-bar [showCloutavista]="false" [searchFunction] class="position-relative"></search-bar>
      </div>
    </header>
    <div class="d-flex">
      <div class="border-right overflow-hidden" [ngStyle]="{ maxWidth: '380px' }">
        <thread-list-item
          *ngFor="let item of this.threadPreviewList"
          [listItem]="item"
          [publicKeyToProfileMap]="this.publicKeyToProfileMap"
          [onItemClick]="this.selectThread"
        ></thread-list-item>
      </div>
      <div [ngStyle]="{ width: '600px' }">
        <message-thread
          [threadHead]="this.selectedThread"
          [publicKeyToProfileMap]="this.publicKeyToProfileMap"
          [accessGroups]="this.accessGroups"
        ></message-thread>
      </div>
    </div>
  </app-page>
</ng-template>
