#my-canvas-0 {
  position: fixed;
  z-index: 2000;
  height: 100%;
  width: 100%;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  backface-bisibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}
#my-canvas-1 {
  position: fixed;
  z-index: 2000;
  height: 100%;
  width: 100%;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  backface-bisibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}
#my-canvas-2 {
  position: fixed;
  z-index: 2000;
  height: 100%;
  width: 100%;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  backface-bisibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}
#my-canvas-3 {
  position: fixed;
  z-index: 2000;
  height: 100%;
  width: 100%;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  backface-bisibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}
#my-canvas-4 {
  position: fixed;
  z-index: 2000;
  height: 100%;
  width: 100%;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  backface-bisibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}
