<div class="fs-16px messages-filter-menu__container border">
  <div class="mr-15px ml-15px pt-15px pb-15px font-weight-bold d-flex align-items-center justify-content-between">
    <span>Custom Inbox Settings</span>
    <i-feather name="x" class="fs-0px feather-medium cursor-pointer" (click)="closeFilter.emit()"></i-feather>
  </div>

  <div class="w-100 border-color-grey border-bottom"></div>

  <div class="p-15px">
    <span class="messages-filter-menu__title" style="margin-left: 0px">Only show</span>
    <div class="mt-5px d-flex flex-row align-items-center">
      <button
        class="checkbox-circle mr-5px"
        [ngClass]="{ checked: !filteredOutSet.has('like') }"
        (click)="updateFilters('like')"
      >
        <i-feather name="check"></i-feather>
      </button>
      <span>Likes</span>
    </div>

    <div class="mt-5px d-flex flex-row align-items-center">
      <button
        class="checkbox-circle mr-5px"
        [ngClass]="{ checked: !filteredOutSet.has('diamond') }"
        (click)="updateFilters('diamond')"
      >
        <i-feather name="check"></i-feather>
      </button>
      <span>Diamonds</span>
    </div>

    <div class="mt-5px d-flex flex-row align-items-center">
      <button
        class="checkbox-circle mr-5px"
        [ngClass]="{ checked: !filteredOutSet.has('creator coin') }"
        (click)="updateFilters('creator coin')"
      >
        <i-feather name="check"></i-feather>
      </button>
      <span>Creator Coin</span>
    </div>

    <div class="mt-5px d-flex flex-row align-items-center">
      <button
        class="checkbox-circle mr-5px"
        [ngClass]="{ checked: !filteredOutSet.has('follow') }"
        (click)="updateFilters('follow')"
      >
        <i-feather name="check"></i-feather>
      </button>
      <span>Follows</span>
    </div>

    <div class="mt-5px d-flex flex-row align-items-center">
      <button
        class="checkbox-circle mr-5px"
        [ngClass]="{ checked: !filteredOutSet.has('comment') }"
        (click)="updateFilters('comment')"
      >
        <i-feather name="check"></i-feather>
      </button>
      <span>Comments / Mentions</span>
    </div>

    <div class="mt-5px d-flex flex-row align-items-center">
      <button
        class="checkbox-circle mr-5px"
        [ngClass]="{ checked: !filteredOutSet.has('repost') }"
        (click)="updateFilters('repost')"
      >
        <i-feather name="check"></i-feather>
      </button>
      <span>Reposts</span>
    </div>

    <div class="mt-5px d-flex flex-row align-items-center">
      <button
        class="checkbox-circle mr-5px"
        [ngClass]="{ checked: !filteredOutSet.has('nft') }"
        (click)="updateFilters('nft')"
      >
        <i-feather name="check"></i-feather>
      </button>
      <span>NFT</span>
    </div>
  </div>
  <div class="w-100 border-color-grey border-bottom"></div>
  <div class="p-15px">
    <span class="messages-filter-menu__title" style="margin-left: 0px">View</span>
    <div class="mt-5px d-flex flex-row align-items-center">
      <button
        class="checkbox-circle mr-5px"
        [ngClass]="{ checked: expandNotifications }"
        (click)="updateCompactView()"
      >
        <i-feather name="check"></i-feather>
      </button>
      <span>Expanded</span>
    </div>
  </div>
<!--  <div class="d-flex flex-center w-100 pb-15px">-->
<!--    <div class="w-100 messages-filter-menu__buttons">-->
<!--      <button class="btn">Update</button>-->
<!--      <a>Cancel</a>-->
<!--    </div>-->
<!--  </div>-->
</div>
