<app-page>
  <div class="nft-modal-container w-100 pl-15px pr-15px">
    <!-- Step 3 -->
    <div *ngIf="stepNum == 3">
      <!-- Get starter DeSo -->
      <sign-up-get-starter-deso
        [displayForSignupFlow]="true"
        (backToPreviousSignupStepClicked)="backToPreviousSignupStepClicked()"
        (skipButtonClicked)="skipButtonClickedOnStarterDeSoStep()"
        (phoneNumberVerified)="phoneNumberVerified()"
      ></sign-up-get-starter-deso>
    </div>

    <!-- Step 4 -->
    <div *ngIf="stepNum == 4">
      <div *ngIf="showPhoneNumberVerifiedContent" class="border-color-grey border-bottom py-15px">
        <div class="p-15px br-12px background-color-grey fs-15px">
          {{ 'signup.phone_verified' | transloco }}
        </div>
      </div>

      <div class="mint-nft__title mt-20px">{{ 'signup.stay_in_the_loop' | transloco }}</div>
      <div class="mint-nft__sub-title">{{ 'signup.step' | transloco }} 4 of 4</div>
      <div class="mint-nft__text mt-16px">{{ 'signup.get_notified' | transloco }}</div>
      <div class="fs-15px pt-30px">{{ 'signup.email' | transloco }}</div>
      <div class="form-group pt-10px">
        <input
          type="email"
          class="form-control fs-15px"
          placeholder="{{ 'signup.enter_emailaddress' | transloco }}"
          [(ngModel)]="emailAddress"
          style="border-radius: 16px"
        />
        <div class="fc-red fs-15px mt-10px" *ngIf="invalidEmailEntered">{{ 'signup.enter_valid_email' | transloco }}</div>
      </div>
      <div class="d-flex justify-content-end mb-20px">
        <button (click)="notificationsStepSkipped()" class="plain-button" style="width: 80px">{{ 'signup.skip' | transloco }}</button>
        <button
          *ngIf="!storingEmailAndPhone"
          (click)="notificationsStepNext()"
          class="primary-button ml-10px"
          [ngClass]="{
            'btn-loading': storingEmailAndPhone
          }"
          style="width: 80px"
        >
        {{ 'signup.next' | transloco }}
        </button>
      </div>
    </div>

    <!-- Finished -->
    <div *ngIf="stepNum == 5">
      <div class="mint-nft__title mt-20px">
        {{ 'signup.buy_deso' | transloco }}
      </div>
      <div class="fs-18px pt-15px">
        <span>
          {{ 'signup.deso_is_a_cryptocurrency' | transloco }}
        </span>
      </div>
      <div class="fs-18px pt-30px mb-10px">
        {{ 'signup.use_deso' | transloco }}
      </div>

      <div class="d-flex justify-content-end mt-15px pt-10px mb-20px">
        <button (click)="buyDeSoSkipped()" class="plain-button" style="width: 80px">{{ 'signup.skip' | transloco }}</button>
        <button (click)="buyDeSoClicked()" class="primary-button ml-10px" style="width: 120px">
          {{ 'signup.buy_deso' | transloco }}
        </button>
      </div>
    </div>
  </div>
</app-page>
