  <!-- DESO Price / Balance -->
  <div class="right-bar-creators__balance-box">
    <div>
      <div class="d-flex">
        <div class="w-100 deso-metrics">
          <div class="d-flex justify-content-between">
            <div>{{ 'right_bar.creators.deso_price' | transloco }}</div>
            <div>
              <span>≈{{ globalVars.desoToUSDExchangeRateToDisplay }}</span>
              <span>&nbsp;USD</span>
            </div>
          </div>
          <div *ngIf="globalVars.loggedInUser" class="d-flex justify-content-between pt-10px">
            <div class="d-flex" style="min-width: 130px">{{ 'right_bar.creators.your_deso' | transloco }}</div>
            <div class="d-flex flex-column justify-content-end flex-wrap" style="align-items: flex-end">
              <div>
                <!-- Amount in BitClout-->
                {{ globalVars.nanosToDeSo(globalVars.loggedInUser.BalanceNanos) }}
                <span *ngIf="globalVars.satoshisPerDeSoExchangeRate">≈{{ globalVars.nanosToUSD(globalVars.loggedInUser.BalanceNanos, 2) }}</span>
              </div>
              <!-- Amount in USD-->
              <div *ngIf="!globalVars.satoshisPerDeSoExchangeRate">{{ 'right_bar.creators.fetching' | transloco }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <a (click)="openBuyCloutModal()">
        <div class="d-flex justify-content-center cursor-pointer">
          <div class="buy-deso">
            <span>{{ 'right_bar.creators.buy_deso' | transloco }}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
