<div *ngIf="this.loggedInUser.CanCreateProfile || this.inTutorial; else elseBlock">
  <div class="d-flex flex-column">
    <div style="flex-grow: 1" id="update-profile-tutorial-holder">
      <simple-center-loader *ngIf="!globalVars.loggedInUser"></simple-center-loader>

      <!-- Create Profile Fee Warning -->
      <div
        *ngIf="
          !inTutorial &&
          !globalVars.loggedInUser?.ProfileEntryResponse &&
          ((!globalVars.loggedInUser?.HasPhoneNumber && !globalVars.loggedInUser?.JumioVerified) ||
            !globalVars.isCompProfileCreation) &&
          globalVars.createProfileFeeNanos > 0
        "
        class="p-15px bg-warning"
      >
        Creating a profile costs {{ globalVars.createProfileFeeInDeSo() }} DeSo ≈
        {{ globalVars.createProfileFeeInUsd() }} USD.
        <br />
        Bu, spam'i önlemeye yardımcı olur.
      </div>
      <!-- Form Inputs -->
      <div class="mt-30px font-weight-bold update-profile__avatar-title">Avatar</div>
      <div class="update-profile__holder">
        <div class="update-profile__avatar">
          <div>
            <div *ngIf="profilePicInput != null && profilePicInput.length > 0">
              <div [style.background-image]="'url(' + profilePicInput + ')'"></div>
              <div *ngIf="profilePicInput">
                <div class="update-profile__image" [style.background-image]="'url(' + profilePicInput + ')'">
                  <div (click)="_resetImage()" class="update-profile__image-delete"><i-feather name="trash-2"></i-feather></div>
                </div>
              </div>
            </div>
            <div class="mt-10px" style="position: relative">
              <input
                class="file-upload-button"
                type="file"
                accept="image/png, image/jpeg"
                id="file"
                (change)="_handleFileInput($event.target.files)"
                style="
                  position: absolute;
                  left: 0;
                  top: 10px;
                  bottom: 0;
                  opacity: 0;
                  cursor: pointer;
                  width: 130px;
                  padding: 0;
                "
              />
              <button type="file">
                <i-feather name="refresh-cw"></i-feather>
                Resim yükle
              </button>
            </div>
            <div>
              <div
                *ngIf="profilePicInput == null || profilePicInput.length == 0"
                [ngClass]="{ 'fc-red': profileUpdateErrors.profilePicError }"
                class="fs-13px text-grey5 mt-5px d-flex justify-content-center"
              >
                Resim seçilmedi
              </div>
            </div>

          </div>
        </div>
        <div
          *ngIf="globalVars.loggedInUser"
          class="fs-18px px-15px global__mobile-scrollable-section disable-scrollbars update-profile__text"
        >
          <div class="update-profile__title update-profile__username">Kullanıcı Adı<span *ngIf="inTutorial" class="ml-5px fs-18px">*</span></div>
          <div>
            <input
              [(ngModel)]="usernameInput"
              (ngModelChange)="_validateUsername($event)"
              class="form-control fs-15px lh-18px p-10px"
              placeholder="Kullanıcı adı girin"
            />
            <div
              *ngIf="profileUpdateErrors.usernameError"
              [ngClass]="{ 'fc-red': profileUpdateErrors.usernameError }"
              class="fs-13px font-italic mt-5px"
            >
              Lütfen bir kullanıcı adı belirleyin
            </div>
          </div>
          <div *ngIf="usernameValidationError" class="fc-error fs-13px ml-5px mt-5px">
            {{ usernameValidationError }}
          </div>
          <div *ngIf="!usernameValidationError && usernameInput?.length > 0" class="fc-success fs-13px ml-5px mt-5px">
            {{ usernameInput }} kullanılabilir
          </div>
          <div *ngIf="inTutorial">
            <div class="update-profile__title">Email<span class="ml-5px fs-18px">*</span></div>
            <div class="form-group">
              <input
                type="email"
                class="form-control fs-15px"
                placeholder="Enter an email address."
                [(ngModel)]="emailAddress"
                (ngModelChange)="_validateEmail($event)"
              />
              <div class="fc-red fs-13px font-italic mt-5px" *ngIf="invalidEmailEntered">Lütfen geçerli bir e-posta adresi giriniz</div>
            </div>
          </div>
          <div class="update-profile__title">Description</div>

          <div>
            <textarea
              [(ngModel)]="descriptionInput"
              class="fs-15px p-10px w-100"
              rows="20"
              maxlength="1000"
            ></textarea>
            <div
              *ngIf="profileUpdateErrors.descriptionError"
              [ngClass]="{ 'fc-red': profileUpdateErrors.descriptionError }"
              class="fs-13px font-italic"
            >
              Açıklama en fazla 1000 karakter olabilir
            </div>
          </div>

          <div *ngIf="!inTutorial">
            <div class="update-profile__title">
              Kurucu Ödül Yüzdesi
              <i-feather
                name="info"
                (click)="tooltip.toggle()"
                matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
                [matTooltip]="founderRewardTooltip()"
                #tooltip="matTooltip"
              ></i-feather>
            </div>

            <div class="mt-10px position-relative">
              <input
                [(ngModel)]="founderRewardInput"
                min="0"
                max="100"
                type="number"
                class="form-control"
                [disabled]="globalVars.loggedInUser.UsersWhoHODLYouCount === 0"
              >
              <span class="update-profile__cc-percent-symbol"><i-feather name="percent"></i-feather></span>
              <div
                *ngIf="globalVars.loggedInUser.UsersWhoHODLYouCount === 0"
                class="fc-muted font-italic fs-13px pt-5px"
              >
                * Kurucu komisyon yüzdesini düşürebilmek için kendi Creator Coininizi satın almalısınız.
              </div>
              <div
                *ngIf="profileUpdateErrors.founderRewardError"
                [ngClass]="{ 'fc-red': profileUpdateErrors.founderRewardError }"
                class="fs-13px font-italic pt-5px"
              >
                Lütfen 0-100 arasında bir kurucu ödül yüzdesi belirleyin.
              </div>
            </div>
            <div class="update-profile__title">Email</div>
            <div class="form-group">
              <input
                type="email"
                class="form-control fs-15px"
                placeholder="Enter an email address."
                [(ngModel)]="emailAddress"
                (ngModelChange)="_validateEmail($event)"
              />
              <div class="fc-red fs-15px" *ngIf="invalidEmailEntered">Lütfen geçerli bir e-posta adresi giriniz</div>
            </div>
            <div class="update-profile__title">{{environment.node.name}} Theme</div>
            <select
              name="theme"
              id="theme"
              (change)="selectChangeHandler($event)"
              style="padding: 6px 12px"
              class="form-control selector">
              <option
                *ngFor="let theme of themeService.themes"
                [value]="theme.key"
                [selected]="theme.key === themeService.theme">{{ theme.name }}</option>
            </select>
            <div class="d-flex align-items-center">
              <div class="update-profile__title mr-16px">Show prices in feed</div>
              <button
                class="checkbox-circle mt-12px"
                [ngClass]="{ checked: globalVars.showPriceOnFeed }"
                (click)="updateShowPriceInFeed()"
              >
                <i-feather name="check"></i-feather>
              </button>
            </div>
          </div>

          <div class="w-100 my-30px">
            <a
              (click)="_updateProfile()"
              [ngClass]="{ 'btn-loading': updateProfileBeingCalled }"
              class="btn update-profile__update-btn"
            >
              Profili Güncelle
            </a>
            <div *ngIf="globalVars.isMobile()" class="global__bottom-bar-mobile-height"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="px-15px mt-30px">
    <update-profile-get-starter-deso></update-profile-get-starter-deso>
  </div>
</ng-template>
