$animation-time: 300ms;
$ticks-count: 3;
$rotate-angle: 30deg;
$x-shift: 20px;

$loader-tick-sizes: (
  s: (width: 3px, height: 6px),
  m: (width: 4px, height: 10px),
  l: (width: 5px, height: 12px)
);

$x-shift-sizes: (
  s: 12px,
  m: 16px,
  l: 20px,
);

$y-shift-sizes: (
  s: (bottom-tick: 8px, top-tick: 14px),
  m: (bottom-tick: 10px, top-tick: 18px),
  l: (bottom-tick: 12px, top-tick: 20px),
);

.loader-text {
  color: var(--text);
}

.ticks {
  position: relative;

  @each $size, $properties in $loader-tick-sizes {
    &.#{$size} {
      .tick-wrapper {
        &:nth-child(1) {
          top: -(map-get(map-get($y-shift-sizes, $size), bottom-tick));
          left: calc(50% - #{map-get($x-shift-sizes, $size)} - #{map-get($properties, width) / 2});
        }

        &:nth-child(2) {
          top: -(map-get(map-get($y-shift-sizes, $size), top-tick));
          left: calc(50% - #{map-get($properties, width) / 2});
        }

        &:nth-child(3) {
          top: -(map-get(map-get($y-shift-sizes, $size), bottom-tick));
          left: calc(50% + #{map-get($x-shift-sizes, $size)} - #{map-get($properties, width) / 2});
        }
      }

      .tick {
        width: map-get($properties, width);
        height: map-get($properties, height);
      }
    }
  }

  .tick-wrapper {
    position: absolute;
    left: calc(50% - 20px);

    .tick {
      animation: tick-anim $animation-time * $ticks-count infinite;
      transform-origin: bottom;
      background: var(--text);
      border-radius: 2px;
      opacity: 0;
    }

    &:nth-child(1) {
      transform: rotate(-#{$rotate-angle});

      .tick {
        animation-delay: 0ms;
      }
    }

    &:nth-child(2) {
      .tick {
        animation-delay: $animation-time;
      }
    }

    &:nth-child(3) {
      transform: rotate(#{$rotate-angle});

      .tick {
        animation-delay: $animation-time * 2;
      }
    }
  }
}

@keyframes tick-anim {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
