<app-page>
  <div class="buy-deso__container p-16px border border-color-grey">
    <div class="mint-nft__title">{{ 'referrals.my_referrals' | transloco }}</div>
    <div class="mint-nft__text mb-16px">
      {{ globalVars.loggedInUser.ReferralInfoResponses?.length > 1 ? 'referrals.link_plural' : 'referrals.link_singular' | transloco }} {{ 'referrals.referrals_explain' | transloco }}
    </div>
    <div *ngIf="globalVars.loggedInUser">
      <div *ngFor="let referral of globalVars.loggedInUser?.ReferralInfoResponses; let ii = index">
        <div class="p-15px fs-15px br-10px border border-color-grey background-color-secondary">
          <div class="d-flex align-items-center">
            <a class="fs-15px" (click)="_copyLink(ii)">
              {{ globalVars.getLinkForReferralHash(referral.Info.ReferralHashBase58) }}
            </a>
            <i-feather
              *ngIf="!linkCopied[ii]"
              (click)="_copyLink(ii)"
              name="copy"
              class="feather-medium fc-secondary ml-10px position-relative cursor-pointer"
              style="top: -2px"
            ></i-feather>
            <div *ngIf="linkCopied[ii]" class="d-flex ml-10px">
              <i-feather
                name="check-circle"
                class="feather-medium fc-secondary position-relative"
                style="top: -2px"
              ></i-feather>
              <div class="mint-nft__sub-text ml-10px">{{ 'referrals.copied' | transloco }}</div>
            </div>
          </div>
          <img
            [src]="globalVars.getLinkForReferralHash(referral.Info.ReferralHashBase58) | sanitizeQRCode"
            *ngIf="referral.IsActive"
            class="mt-15px"
          />
          <div *ngIf="!referral.IsActive" class="fc-red">{{ 'referrals.link_not_active' | transloco }}</div>

          <div class="font-weight-bold mt-15px">
            {{ 'referrals.you_get_per_referral_0' | transloco }} ${{ referral.Info.ReferrerAmountUSDCents / 100 }} {{ 'referrals.you_get_per_referral_1' | transloco }}
          </div>
          <div>
            {{ 'referrals.total_collected' | transloco }}
            {{ globalVars.nanosToDeSo(referral.Info.TotalReferrerDeSoNanos) }} {{ 'referrals.deso' | transloco }}
            ({{ globalVars.nanosToUSD(referral.Info.TotalReferrerDeSoNanos) }})
          </div>

          <div class="font-weight-bold mt-15px">
            {{ 'referrals.your_referrals_get_0' | transloco }} ${{ referral.Info.RefereeAmountUSDCents / 100 }} {{ 'referrals.your_referrals_get_1' | transloco }}
          </div>
          <div>
            {{ 'referrals.total_given' | transloco }}
            {{ globalVars.nanosToDeSo(referral.Info.TotalRefereeDeSoNanos) }} {{ 'referrals.deso' | transloco }}
            ({{ globalVars.nanosToUSD(referral.Info.TotalRefereeDeSoNanos) }})
          </div>

          <div class="mt-15px">
            <span class="font-weight-bold">{{ 'refs_remaining.total_given' | transloco }} </span>
            {{ referral.Info.MaxReferrals > 0 ?
            referral.Info.MaxReferrals - referral.Info.TotalReferrals
            : 'refs_remaining.unlimited' | transloco
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</app-page>
