<div class="modal-header">
  <div class="modal-header-x" (click)="closeModal()">
    <i-feather name="x"></i-feather>
  </div>
</div>
<div class="buy-deso__container p-16px">
  <div class="mint-nft__title">Settings</div>
  <div class="update-profile__title">{{ environment.node.name }} {{ "update_profile.theme" | transloco }}</div>
  <select
    name="theme"
    id="theme"
    (change)="selectChangeHandler($event)"
    style="padding: 6px 12px"
    class="form-control selector">
    <option
      *ngFor="let theme of themeService.themes"
      [value]="theme.key"
      [selected]="theme.key === themeService.theme">{{ theme.name }}</option>
  </select>
  <div class="update-profile__title">{{ 'update_profile.language' | transloco }}</div>
  <select
    name="language"
    id="language"
    (change)="selectLanguage($event)"
    style="padding: 6px 12px"
    class="form-control selector"
  >
    <option value="en" [selected]="'en' === selectedLanguage">English</option>
    <option value="nl" [selected]="'nl' === selectedLanguage">Nederlandse</option>
    <option value="fr" [selected]="'fr' === selectedLanguage">Franse</option>
  </select>
  <div class="d-flex align-items-center">
    <div class="update-profile__title mr-16px">{{ 'update_profile.show_price_in_feed' | transloco }}</div>
    <button
      class="checkbox-circle mt-12px"
      [ngClass]="{ checked: globalVars.showPriceOnFeed }"
      (click)="updateShowPriceInFeed()"
    >
      <i-feather name="check"></i-feather>
    </button>
  </div>
</div>
